* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 43.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(#444, #222);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  padding: 0.7rem;
  overflow: auto;
}
.calculator-container {
  height: 34.7rem;
  width: 22.5rem;
  border-radius: 3.12rem;
  padding: 1.25rem 1.25rem 2rem 1.25rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  box-shadow: 0.5rem 0.5rem 0.75rem #555;
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
  color: #fcc;
}
#display {
  width: 20rem;
  height: 6rem;
  margin: auto;
  margin: 0.75rem 0;
  padding: 1rem;
  border: none;
  border-radius: 1.25rem;
  text-align: end;
  font-size: 3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem black;
  background-color: #222;
  color: #fff;
}
.keys {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn,
.operatorBtn {
  height: 4.5rem;
  width: 4.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: #333;
  border-radius: 2rem;
  margin: 0.2rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.keys .btn:hover {
  background-color: #222;
}
.keys .btn:active {
  background-color: #aaa;
  box-shadow: 4px 4px 8px black;
  color: black;
  transform: translateY(0.15rem);
}
.keys .operatorBtn {
  background-color: orange;
  color: black;
}
.keys .operatorBtn:hover {
  background-color: rgb(255, 100, 0);
}
.keys .operatorBtn:active {
  background-color: white;
  color: black;
  transform: translateY(0.15rem);
}
