body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 95vh;
  min-width: 100vw;
  background-image: radial-gradient(circle, #89f7fe, #66a6ff, #667eea, #764ba2);
}
h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 2rem;
  color: white;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid #000; */
  width: 50rem;
  height: 25rem;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
#count {
  font-size: 5rem;
  text-align: center;
}
button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 7rem;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#msg {
  text-align: center;
  font-size: 3rem;
  /* margin-top: 2rem; */
  color: white;
}
